# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
basicServer/.fabric
basicServer/config
basicServer/libraries
basicServer/logs
basicServer/versions
basicServer/world
basicServer/banned-ips.json
basicServer/banned-players.json
basicServer/ops.json
basicServer/usercache.json
basicServer/whitelist.json